<table class="inventory">
    <tr>
      <th>Item Name</th>
      <th>Status</th>
      <th>Borrower</th>
      <th>Borrow date</th>
      <th>Due date</th>
    </tr>
{{#each item}}
    <tr>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
    </tr>
{{/each}}
</table>
