<h2 class="center title">Main Menu</h2>
<ul class="mainMenu">
  <li>Inventory</li>
  <li>New Item</li>
  <li>New Borrower</li>
  <li>Lend Item</li>
  <li>Return Item</li>
  <li>Overdue Items</li> 
</ul>
