<!--
I'm thinking the following at least:
  Tools
  Mmedia
    CD
    DVD
  Cables
-->
<select>
  <option value="tool">Tool</option>
  <option value="cd">CD</option>
  <option value="dvd">DVD</option>
  <option value="cable">Cable</option>
</select>
