<!-- 
We need to track the following:
  Media name
  Media type
  Media serial
  Media ID
  Media status
  Media leant to <- should be a reference to a person of some kind 'renter'
-->
<form>
  <label for="mediaName">Media Name:</label>
  <input id="mediaName" type="text" value="{{mediaName}}" />
  <label for="mediaType">Media Type</label>
  {{> mediatype}}
  <
</form>
